<style>
  p.c {
      white-space: pre;
  }
</style>

<div style="text-align:center">
  <h1>
    Gutenburg Library
  </h1>
</div>

<div>
    <h2>Search by Author</h2>
    <input #authorname placeholder="Enter Author Name"/>
    <button (click)="searchAuthor(authorname.value)">Search</button>
</div>

<div>
    <h2>Search by Title</h2>
    <input #titlename placeholder="Enter Title Name"/>
    <button (click)="searchTitle(titlename.value)">Search</button>
    <h2>Server Respond:</h2>
    <p class="c"> {{serverData}}</p>
</div>