<div style="text-align:center">
  <h1>
    Welcome to Angular + Python + Flask Demo!
  </h1>
</div>

<div>
    <p>Search by Author</p>
    <input #authorname placeholder="Enter Author Name"/>
    <button (click)="searchAuthor(authorname.value)">Search</button>
    <span>Server Respond: {{authorData}}</span>
</div>

<div>
    <p>Search by Title</p>
    <input #titlename placeholder="Enter Title Name"/>
    <button (click)="searchTitle(titlename.value)">Search</button>
    <span>Server Respond: {{titleData | json}}</span>
</div>